server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: flashcard-server

  data:
    mongodb:
      uri: ${MONGO_URI}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-url: ${JWT_ISSUER_URL:http://localhost:9000}

  cloud:
    openfeign:
      client:
        config:
          wallet-service:
            url: ${WALLET_SERVICE_URL:http://localhost:8082}
          default:
            connect-timeout: ${FEIGN_CONNECT_TIMEOUT:10000}
            read-timeout: ${FEIGN_READ_TIMEOUT:10000}

logging:
  level:
    org.springframework.data.mongodb: DEBUG
    org.mongodb.driver: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    com.cardy.flashcardServer: TRACE